// Specific CSS for your home-page


.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: asset-url("background_picture.png");
  background-size: cover;
  background-position: center; // Crop 100px from the top
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1; // Ensure the pseudo-element is behind the content
}


.text-section {
  position: absolute;
  bottom: 300px; // Adjust as needed
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  text-align: center;
  width: 70%; // Adjust as needed
  border-radius: 5px; // Optional: to give rounded corners
}

.home-search-form{
  position: absolute;
  width: 40%; // Adjust the width as needed
  bottom: 200px; // Adjust as needed
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.home-search-input {
  padding: 5px;
  border: 1px solid #ffffff;
  border-radius: 50px 0 0 50px;
  outline: none;
  flex-grow: 1; // Allow the input to take up available space
}

.home-search-button {
  padding: 5px 10px;
  border: 0px solid #ffffff;
  border-left: none;
  border-radius: 0 50px 50px 0;
  background-color: #ffffff;
  color: grey;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button i {
  font-size: 16px; // Adjust as needed
}

.search-button:hover {
  background-color: #ffffff;
}
