// Import page-specific CSS files here.
@import "home";

body {
  background-image: none; // Override the background image from home.scss
}

.index-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#map {
  position: fixed;
  top: 0;
  background-attachment: fixed;
  height: 100vh;
  position: sticky;
}


.card-category-index {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 15px;
  background-image: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; // Show 5 cards per row
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; // Show 5 cards per row
  }
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 150px;
  height: 150px;
  object-fit: cover; // Ensures the image covers the area without distortion
  display: block;
  margin: 0 auto; // Centers the image horizontally
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Adds a subtle shadow
}

.card-content {
  padding: 16px;
  text-align: center; // Centers the text content
  font-family: "Poppins", sans-serif;
}

.card-content h3 {
  margin: 0;
  font-size: 1.25em;
  font-family: "Poppins", sans-serif;
  margin-bottom: 16px;
  color: #0864A7;
}
