<p class="text-section">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>

<form class="search-form" action="/search" method="get">
  <input type="text" name="query" placeholder="Search..." class="search-input">
  <button type="submit" class="search-button">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</form>
