<div class="home-container">
  <h2 class="text-section">Why do it Yourself? Let your Doppelganger handle it!</h2>


<div>
    <%= form_with url: soozies_path, method: :get, class: "home-d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "home-search-input",
            placeholder: "Enter a city"
        %>
        <button type="submit" class="home-search-button">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <% end %>
    </div>





</div>
