<h2 class="text-section">Why do it Yourself? Let your Doppelganger handle it!</h2>

<form class="search-form" action="/search" method="get">
  <input type="text" name="query" placeholder="Find your best doppelganger..." class="search-input">
  <button type="submit" class="search-button">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</form>
