<div class="home-container">
  <h2 class="text-section">Why do it Yourself? Let your Doppelganger handle it!</h2>

  <form class="home-search-form" action="/search" method="get">
    <input type="text" name="query" placeholder="Choose a city" class="home-search-input">
    <button type="submit" class="home-search-button">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>
</div>
