.card-soozie {
  .btn-dark {
    background-color: #343E45;
    border: 1px solid #000;
    box-shadow: 0px 4px 15px 0px var(#343E45, #465A68) inset;
    color: #F9F0D7;
    padding: 15px 30px;
    border-radius: 16px;
  }

  .btn-primary-pastel {
    text-decoration: none;
    background-color: #d44c79;
    border: 1px solid #d44c79;
    box-shadow: 0px 4px 15px 0px var(#343E45, #465A68) inset;
    color: #F9F0D7;
    padding: 15px 30px;
    border-radius: 16px;
  }


  .img {
    width: 553px;
    height: 691px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 0px solid #000;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25) inset;
  }

  .field-form {
    background-color: #f9f0d7;
    border: 1px solid #f9f0d7;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 16px;
    padding: 12px 30px;
  }


.h3.my-soozies{
  font-size: 15px;
  color: #0864A7;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 15px;
}
}
